src/main/mule/dec12testtwo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a7ef521-5390-4ae3-ab92-8247083acc8f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dec12testtwoFlow" doc:id="50f8b9e2-7ef9-47e0-9b13-76eda0543ae8" >
		<http:listener doc:name="Listener" doc:id="5efd9bd6-9623-4f7d-ac76-e1f9d98b34ec" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5748d23e-9e86-423d-897b-13eedb84102d" />
	</flow>
</mule>
